<!DOCTYPE html>
<html>
<head>
	<title>Whatsapp API by Pedrinho da NASA</title>
</head>
<body>

	<div id="app">
		<h1>Bem vindo a API ALPHA</h1>
		<h3>scan:</h3>
		<div class="container">
            <img src=<%=qr_code %> alt="QR Code">
        </div>
		<h3>Logs:</h3>
		<ul class="logs"></ul>
	</div>
</body>
</html>