<!DOCTYPE html>
<html>
<head>
	<title>Whatsapp API</title>
	<style>
		.center{
		margin: auto;
		width: 50%;
		padding: 10px;
		}
	</style>
</head>
<body>

	<div class="center" id="app">
		<h1>Bem vindo a API ALPHA</h1>
		<h3>Aponte sua camera para o QRcode:</h3>
		<div class="container">
            <img src=<%=qr_code %> alt="QR Code">
        </div>
		<h3>Logs:</h3>
		<ul class="logs"></ul>
	</div>
</body>
</html>